body,
html {
  margin: 0;
  display: flex;
  /* overflow-x: hidden; */
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue.ttc');
}

/* form stylings */
.form {
  width: 1098px;
  background: #f9f9f9;
}
.backBtn {
  width: 9.21px;
  height: 16px;
  font-weight: 500;
  margin-left: 14px;
}
.backBtn-wrapper {
  margin-right: 58px;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header-backBtn-wrapper {
  display: flex;
  align-items: center;
  margin: 57px 0px 0 62px;
}
.header-info-container {
  display: flex;
  border-bottom: 1px solid #1a1a1a;
}
.header-info-container h1 {
  width: 179px;
  height: 29px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #1a1a1a;
  margin-right: 592px;
  margin-bottom: 12px;
}
.header-info-container p {
  width: 29px;
  height: 24px;
  top: 49px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #1a1a1a;
  margin-bottom: 15px;
}

/* CV display (previous page - personal info version) */
.form-info-display {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  width: 822px;
}
.info-picture-wrapper {
  display: flex;
  justify-content: space-between;
}
.info-container {
  margin-left: 80px;
}
.name-surname {
  margin-top: 68px;
  margin-right: 25px;
  display: flex;
}
.name-surname h1:first-child {
  margin-right: 20px;
}

.name-surname h1 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  color: #f93b1d;
}
.email-phone {
  margin-top: 17px;
}
#formEmail,
#formNumber {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #1a1a1a;
}

.aboutMe {
  display: flex;
  flex-direction: column;
}
#aboutMeFormLabel {
  margin-top: 34px;
  margin-bottom: 0;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #f93b1d;
}
#formAbout {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: lowercase;
  color: #000000;
  word-break: break-word;
}
.formEmailContainer,
.formNumberContainer {
  display: flex;
}
.formEmailContainer h3,
.formNumberContainer h3 {
  margin: 0;
}
.formEmailContainer img,
.formNumberContainer img {
  margin-right: 10px;
}
.formNumberContainer {
  margin-top: 10px;
}

/* CV picture */

#displayImage {
  width: 246px;
  height: 246px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin: 48px 75px 0 0;
}
.separator-line-wrapper {
  display: flex;
  justify-content: center;
}
.infoDisplaySeparator {
  width: 662px;
  height: 0px;
  border: 1px solid #c8c8c8;
}

/* form inputs */
.position-employer-wrapper {
  margin: 77px 0 0 150px;
}
label {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-bottom: 8px;
}
.validatedCheckLargeInputs {
  background-image: url(../icons/success-check.svg);
  background-size: 17px 17px;
  background-repeat: no-repeat;
  background-position: 770px;
}
.employer-container,
.position-container {
  display: flex;
}
.positionInput,
.employerInput {
  width: 766px;
  height: 21px;
  padding: 13px 16px 14px 16px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  white-space: pre-line;
}
.positionInput::placeholder,
.employerInput::placeholder,
.descriptionInput::placeholder {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
.position {
  margin-bottom: 31px;
}
.error {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #2e2e2e;
  margin-top: 8px;
}

/* Dates */
.dates-wrapper {
  margin-top: 31px;
  display: flex;
  justify-content: center;
}
.startDateInput,
.endDateInput {
  width: 323px;
  height: 21px;
  padding: 13px 16px 14px 16px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  white-space: normal;
}
.dateInputLogo {
  background-image: url(../icons/calendar.svg);
  background-size: 17px 17px;
  background-repeat: no-repeat;
  background-position: 325px;
}
input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
  height: 20px;
  width: 18px;
}
.startDate {
  margin-right: 30px;
}
.endDate {
  margin-left: 30px;
}

/* Description */
.description-wrapper {
  margin: 33px 0 0 150px;
  display: flex;
}

.descriptionInput {
  width: 782px;
  height: 34px;
  padding: 13px 0 69px 16px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  white-space: normal;
}
.line-wrapper {
  display: flex;
  justify-content: center;
}
.line {
  margin-top: 58px;
  width: 798px;
  height: 0;
  border: 1px solid #c1c1c1;
}

/* Buttons - generate new form, previous page and next page */
.generateExperienceForm-wrapper {
  margin: 45px 0 0 150px;
  display: flex;
}
.generateNewFormBtn {
  width: 289px;
  height: 48px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #62a1eb;
  border-radius: 4px;
  border-color: transparent;
}
.navigation-buttons-wrapper {
  margin: 115px 150px 65px 150px;
  display: flex;
  justify-content: space-between;
}
.PreviousPageBtn {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #ffffff;
  padding: 14px 54px 14px 54px;
  background: #6b40e3;
  border-radius: 4px;
  border-color: transparent;
}
.nextPageButton {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #ffffff;
  padding: 14px 54px 14px 54px;
  background: #6b40e3;
  border-radius: 4px;
  border-color: transparent;
}

.footer {
  margin-top: auto;
  margin-left: 78px;
  margin-bottom: 44px;
}

/* Experience info form stylings */

.experienceInfoForm {
  margin: 24px 0 0 80px;
}
.experienceInfoHeader {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #f93b1d;
}
.positionEmployeeForm {
  display: flex;
}
.formPosition,
.formEmployer {
  margin-top: 10px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #1a1a1a;
  margin-bottom: 7px;
}
.formEmployer {
  margin-left: 7px;
}
.startEndDateForm {
  display: flex;
}

.formStartDate,
.formEndDate,
.dash {
  margin: 0;
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #919191;
}
.dash {
  margin: 0 5px 0 5px;
  display: flex;
  align-items: flex-start;
}
.formDescription {
  margin-top: 16px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  white-space: normal;
  color: #000000;
  margin-right: 80px;
  word-break: break-word;
}
/* classes for validation */

.validatedCheckLargeInputs {
  background-image: url(../icons/success-check.svg);
  background-size: 17px 17px;
  background-repeat: no-repeat;
  background-position: 770px;
}

.input-control input:focus {
  outline: 0;
}
.input-control.success input {
  border-color: #98e37e;
}
.input-control.error input {
  border-color: #ef5050;
}
.input-control.error {
  color: #ef5050;
  font-size: 15px;
  margin-top: 0;
}
#positionErrorImg {
  margin: 0 0 30px 14px;
}
#employerErrorImg {
  margin: 0 0 0 14px;
}
#startDateErrorImg {
  margin-top: 12px;
  margin-right: 5px;
}
#endDateErrorImg {
  margin-top: 12px;
  margin-left: 10px;
}
#descriptionErrorImg {
  margin-left: 10px;
}
